NODE_ENV="development"
PORT=9056
BASE_PATH="/api"
SESSION_SECRET=""

DATABASE_URL=""
LOCAL_DATABASE_URL="postgresql://postgres:username@host:port/db?schema=public"

# Not Needed
JWT_ACCESS_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_SECRET=""

FRONTEND_ORIGIN="http://localhost:5173"

REDIS_URL=""  # Use TCP URL
REDIS_SERVER_NAME=""

RESEND_API_KEY=""